@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
.wrapper {
	background-color: #b3b3b3;
	width: 110vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
